# Ignore tous les fichiers dans .vscode
/.vscode/*

# Mais garde le fichier extensions.json dans .vscode
!/.vscode/extensions.json

# Autres fichiers temporaires et logs
*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

# Fichiers de log
*.log
log.txt
npm-debug.log*

# Dossiers de configuration IDE
/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions

# Exclusion des builds et dépendances
/coverage
/dist
/node_modules
/platforms
/plugins
/www
