/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
  --ion-item-border-color: var(--ion-background-color-step-200);
  --ion-color-new: #63C132 !important;
  --ion-color-new-rgb: 99, 193, 50 !important;
  --ion-color-new-contrast: #ffffff !important;
  --ion-color-new-contrast-rgb: 255, 255, 255 !important;
  --ion-color-new-shade: #57aa2c !important;
}

/* This sets a different background and item background for the default theme on ios */
:root.ios {
  --ion-background-color: var(--ion-background-color-step-50, #f2f2f6);
  --ion-toolbar-background: var(--ion-background-color);
  --ion-item-background: #fff;
}

/* This sets a different background and item background for the default theme on md */
:root.md {
  --ion-background-color: var(--ion-background-color-step-100, #f9f9f9);
  --ion-toolbar-background: var(--ion-background-color);
  --ion-item-background: #fff;
}

/* This sets a different item background when dark mode is enabled on ios and md */
.ion-palette-dark.ios,
.ion-palette-dark.md {
  --ion-item-background: #1c1c1d;
}

video {
  position: relative !important;
  z-index: -1 !important;
}